---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
const articles = await getCollection("articles");
---

<Layout title="Astro Blog - Articles">
  <Header />

  <section id="blog" class="section blog-section">
    <div class="container">
      <h2 class="section-title">Latest Blog Articles</h2>
      <p class="blog-intro">
        Dive into my recent thoughts on design trends, tech insights, and
        personal projects.
      </p>
      <div class="blog-grid">
        {
          articles.map((article) => (
            <article class="article-card">
              <h3 class="article-title">{article.data.title}</h3>
              <p class="article-excerpt">{article.data.excerpt}</p>
              <div class="article-footer">
                <p class="article-date">Published: {article.data.date}</p>
                <a href={`/articles/${article.slug}`} class="btn btn-details">
                  Details
                </a>
              </div>
            </article>
          ))
        }
      </div>

      <div class="load-more">
        <a href="#" class="btn btn-primary pulse-animation">Load More</a>
      </div>
    </div>
  </section>
</Layout>
