---
import type { CollectionEntry } from 'astro:content';
import { date } from 'astro:schema';

type Props = {
  id: string;
  title: string;
  slug: string;
  excerpt: string;
  date: string;
  content: string;
};
// type Props = CollectionEntry<'articles'>;
const props: Props = Astro.props;
---
<section class="section detailed-article">
  <div class="container">
    <div class="back-button">
      <a href="/articles" class="btn btn-secondary">← Back to Blog</a>
    </div>

    <div class="article-content">
      <div class="article-header">
        <h2>{props?.title}</h2>
        <p class="article-date">Published: {props?.date}</p>
      </div>
      <div class="article-body">
        <div class="article-excerpt">
          <p>{props?.excerpt}</p>
        </div>
        <div class="article-full-content" set:html={props?.content}></div>
      </div>
    </div>
  </div>
</section>